# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.uv/ 

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build artifacts
build/
dist/
*.egg-info/

# Documentation (optional)
docs/

# Local data
data/
uploads/
storage/
tmp/
tests/
uploads

# Alembic cache
alembic/versions/__pycache__/

# Docker
docker-compose.override.yml

